form{
    color: pink;
}
span{
    color: pink;
}
body{
   background-color: bisque;
}
a{
    text-decoration: none;
}
a:link{
    text-decoration: none;
    color: #09c;
}/*鼠标普通未被访问的*/
a:visited{
    text-decoration: none;
    color: darkviolet;
}/*鼠标点击后的状态*/
a:hover
{
    text-decoration: underline;
    font-size: 120%;
    color: #03c;
}/*鼠标悬停状态时的设置*/
a:active{
    text-decoration: none;
    color: #666;
}/*激活状态下*/
.delete{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}
ul{
    list-style-type: square;
    list-style-position: outside; 
}
.content{
    width: 1000px;
    height: 200px;
    margin: 10px;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;

}
.stress
{
    font-weight: bold;
    font-size: large;
}

tr:nth-child(odd)
{
    background-color: aquamarine;
}
th
{
    background-color: chartreuse;
}






