form{
    color: pink;
}
span{
    color: pink;
}
body{
   background-color: bisque;
}
a{
    text-decoration: none;
}
.none{
    text-decoration: line-through;
    color: blueviolet;
}